</main>

<footer class="text-center p-3 mt-5 border-top bg-light">
<a href="https://www.instagram.com/simon_acostas" target="_blank" class="text-decoration-none text-secondary me-3">
<small>by Simon Acosta</small>
</a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1" target="_blank" class="text-decoration-none text-secondary">
<small>for sigmotoa</small>
</a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

</body>
</html>