<nav class="navbar navbar-expand-lg navbar-dark navbar-custom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-graph-up-arrow me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 0h1v16H0V0Zm14.854 4.854a.5.5 0 0 0-.708 0L13 6.293V2.5a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708M4 10.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-.5 2a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
            </svg>
            Navegación
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCrear" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                        Crear Nuevo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarCrear">
                        <li><a class="dropdown-item" href="/users/new">Nuevo Usuario</a></li>
                        <li><a class="dropdown-item" href="/metodologias/new">Nueva Metodología</a></li>
                        <li><a class="dropdown-item" href="/analisis/new">Nuevo Análisis</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarListados" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 5.5a.5.5 0 0 1 0-1h-7a.5.5 0 0 1 0 1h7zM11.5 8a.5.5 0 0 1 0-1h-7a.5.5 0 0 1 0 1h7zM11.5 10.5a.5.5 0 0 1 0-1h-7a.5.5 0 0 1 0 1h7z"/>
                        </svg>
                        Ver Listados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarListados">
                        <li><a class="dropdown-item" href="/users">Usuarios Activos</a></li>
                        <li><a class="dropdown-item" href="/metodologias">Metodologías Activas</a></li>
                        <li><a class="dropdown-item" href="/analisis">Análisis Activos</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarEliminados" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                            <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5a1 1 0 0 1-1-1zm2 3v9h12V5H2zm1-2a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2H3z"/>
                        </svg>
                        Archivados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarEliminados">
                        <li><a class="dropdown-item" href="/users/eliminados">Usuarios Desactivados</a></li>
                        <li><a class="dropdown-item" href="/metodologias/eliminados">Metodologías Desactivadas</a></li>
                        <li><a class="dropdown-item" href="/analisis/eliminados">Análisis Desactivados</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>