{% include 'header.html' %}
<h1>Registrar nuevo usuario</h1>

<form action="/users/new" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="name" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" name="email">
    </div>

    <div class="mb-3">
        <label class="form-label">Rol</label>
        <input type="radio" class="form-control" name="role" checked> Investigador
        <input type="radio" class="form-control" name="role"> Vendedor
    </div>

    <div class="mb-3">
        <label class="form-label">Estado</label>
        <input type="radio" class="form-control" name="status" checked> Alive
        <input type="radio" class="form-control" name="status" > Nor Alive
    </div>

    <div class="mb-3">
        <label class="form-label">User identificacion</label>
        <input type="file" class="form-control" name="img" accept="image/*">
    </div>

    <button class="btn btn-success w-100 mt-3">Guardar</button>
</form>

{% include 'footer.html' %}